app = "daegu-eers"
primary_region = "nrt"

[env]
  PORT = "8501"
  STREAMLIT_SERVER_PORT = "8501"
  STREAMLIT_SERVER_ADDRESS = "0.0.0.0"

[http_service]
  internal_port = 8501
  force_https = true

  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1

  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "30s"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
